# Project place file
/kunoichi-game.rbxlx
/kunoichi-game.rbxl

#
Packages
build

# Zap files
zap.luau
RemoteName.profiler.luau

# Sourcemap files
sourcemap.json

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Wally lock files
wally.lock

# Temporary files
node_modules
pages
moonwave.toml
config.zap
out
temp

# Environment files
.env

/assets/